<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>q4</title>
    </head>
    <body>
        <%- include('header') %>
        <% for(p of products) { %>
        <h1><%=p.name%></h1>
        <h2><%=p.price%></h2>
        <h3><%=p.quantity%></h3>
        <hr>
        <% } %>
    </body>
</html>